<p id="notice"><%= notice %></p>
<h1>Catalogue</h1>

<% cache @products do %>
        <% @products.each do |product| %>
            <% cache product do %>
                <div class="entry">
            
                        <%= image_tag(product.image_url) %>
            
            
            
                        <h3><%= link_to product.title, product %></h3>
                        <%= sanitize(product.description) %>
        
                        <div class="price_line">
                            <span class="price"><%= number_to_currency(product.price) %></span> 
                        </div>
                      
                </div>
                <% end %>        
        <% end %>
<% end %>