<!DOCTYPE html>
<html>
<head>
  <title>Test Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
   <span class="title"><%= @page_title %></span>
</div>

<div id="columns">
  <div id="side">
    <ul>
      <li><a href="http://www....">Home</a></li> 
      <li><a href="http://www..../faq">Questions</a></li> 
      <li><a href="http://www..../news">News</a></li> 
      <li><a href="http://www..../contact">Contact</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>

</body>


</html>


